- if notice
  .alert.alert-success
    %p#notice= notice

%h1 Menus
%table.table.table-bordered
  %thead
    %tr.info
      %th #
      %th Title
      %th Food_ids and drink_ids
      %th Avatar
      %th Date
      %th{:colspan => "3"}
  %tbody
    - @menus.each do |menu|
      %tr
        %td= menu.id
        %td= menu.title
        %td Foods: #{menu.foods.pluck(:title).join(', ')} | Drinks: #{menu.drinks.pluck(:title).join(', ')}
        %td=image_tag(menu.avatar.url(:thumb))
        %td= menu.date
        %td= link_to 'Show', menu
        %td= link_to 'Edit', edit_menu_path(menu)
        %td= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Menu', new_menu_path