.row
  .col-md-6.col-md-offset-3
    = form_for food do |f|
      - if food.errors.any?
        .alert.alert-danger
          %ul
            - food.errors.full_messages.each do |msg|
              %li= msg
      .panel.panel-primary
        .panel-heading Fill fileds
        .panel-body
          .control-group
            = f.label "Title"
            .controls
              = f.text_field :title, class: 'form-control'
          .control-group
            = f.label "Type"
            .controls
              = f.select :ftype, [['First course', :first_course],['Main course', :main_course]]
          .control-group
            = f.label "Price ($)"
            .controls
              = f.number_field :price, min: 0, step: 0.10, class: 'form-control'
      .panel.panel-primary
        .panel-body
          = f.submit 'Save', class: "btn btn-lg btn-teal"